.container {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: The Nautigal;
  font-size: 94px;
  margin: 16px;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #5a30ff;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: block;
  width: 250px;
  height: auto;
  -webkit-transform: skewX(-54deg);
  -ms-transform: skewX(-54deg);
  transform: skewX(-54deg);
  overflow: hidden;
  text-align: center;
  position: relative;
}

.imageContainer img {
  -webkit-transform: skewX(54deg) !important;
  -ms-transform: skewX(54deg) !important;
  transform: skewX(54deg) translateY(45px) !important;
  position: absolute !important;
  top: -87px !important;
  left: -90px !important;
}

.topTriangle {
  position: absolute;
  left: -400px;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: #3f22b3;
  transform: skewX(-54deg);
}

.bottomTriangle {
  position: absolute;
  right: -400px;
  bottom: 0;
  width: 500px;
  height: 400px;
  background-color: #3f22b3;
  transform: skewX(-54deg);
}
