.container {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.footer {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  z-index: 2;
  color: #3f22b3;
  margin-top: 36px;
}

@media (max-height: 1050px) {
  .footer {
    margin-top: auto;
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: The Nautigal;
  font-size: 94px;
  margin: 16px;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #5a30ff;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
}

.circleContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  min-width: 1000px;
  min-height: 1000px;
  background-color: #b5a4fa;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
}
